<a href="https://colab.research.google.com/github/ashouy/Aprendizado-de-Maquina/blob/main/Tarefa01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Atividade 01**
A atividade consiste em selecionar uma base de dados do tipo **Regressão** e outra do tipo **Classificação** e aplicar pelo menos dois dos 6 tratamentos listados abaixo:


1.   **Visão geral do data frame**
>*   Aleterar a visualização do dataframe, selecionando colunas específicas por exemplo.
>*   **loc, iloc, etc**
2.   **Dados Faltantes**
>*   Aplicar alguma estratégia para tratar os dados faltantes de a cordo com o contexto da base de dados.
>*   **Remoção das colunas, Remoção das linhas, Preenchimento com um valor definido, Preenchimento com a média ou moda**
3.    **Outliers**
>*    Tratar valor muito fora dos padrões
4.    **Mudança de escala**
>*     mudar alguma série de escalar para uma possível comparação
>*    **Normalização por reescala, normalização por padronização, StandardScaler, MinMaxScale**
5.    **Mudança de Tipo**
>*     Mudar o tipo de dados de uma coluna
>*    **Label Encoder**
6.    **Redução de dimensionalidade**
>*    **PCA**

#Aternativas:


*   https://www.kaggle.com/dannielr/marvel-superheroes

*   https://www.kaggle.com/omermetinn/values-of-top-nasdaq-copanies-from-2010-to-2020
* https://www.kaggle.com/sureshmecad/predict-a-doctors-consultation-fee

# Base para predição do custo de uma consulta médica

> ## Metadata
* O valor da consulta no final está em rúpia indiana IRN

### **Apresentação da base**

In [ ]:
import pandas as pd

consultas = pd.read_excel('https://github.com/ashouy/Aprendizado-de-Maquina/blob/main/bases/consultation_fee/train.xlsx?raw=true')
consultas.head()

                    Qualification  ... Fees
0           BHMS, MD - Homeopathy  ...  100
1    BAMS, MD - Ayurveda Medicine  ...  350
2  MBBS, MS - Otorhinolaryngology  ...  300
3             BSc - Zoology, BAMS  ...  250
4                            BAMS  ...  250

[5 rows x 7 columns]

### **Tratamento**

#### Dados faltantes

In [ ]:
hasNan = consultas.isnull().sum()
print(hasNan)

Qualification            0
Experience               0
Rating                3302
Place                   25
Profile                  0
Miscellaneous_Info    2620
Fees                     0
dtype: int64