<a href="https://colab.research.google.com/github/ashouy/Aprendizado-de-Maquina/blob/main/Tarefa01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Atividade 01**
A atividade consiste em selecionar uma base de dados do tipo **Regressão** e outra do tipo **Classificação** e aplicar pelo menos dois dos 6 tratamentos listados abaixo:


1.   **Visão geral do data frame**
>*   Aleterar a visualização do dataframe, selecionando colunas específicas por exemplo.
>*   **loc, iloc, etc**
2.   **Dados Faltantes**
>*   Aplicar alguma estratégia para tratar os dados faltantes de a cordo com o contexto da base de dados.
>*   **Remoção das colunas, Remoção das linhas, Preenchimento com um valor definido, Preenchimento com a média ou moda**
3.    **Outliers**
>*    Tratar valor muito fora dos padrões
4.    **Mudança de escala**
>*     mudar alguma série de escalar para uma possível comparação
>*    **Normalização por reescala, normalização por padronização, StandardScaler, MinMaxScale**
5.    **Mudança de Tipo**
>*     Mudar o tipo de dados de uma coluna
>*    **Label Encoder**
6.    **Redução de dimensionalidade**
>*    **PCA**

#Aternativas:


*   https://www.kaggle.com/dannielr/marvel-superheroes

*   https://www.kaggle.com/omermetinn/values-of-top-nasdaq-copanies-from-2010-to-2020
* https://www.kaggle.com/sureshmecad/predict-a-doctors-consultation-fee

# Base para predição do custo de uma consulta médica

> ## Metadata
* O valor da consulta no final está em rúpia indiana IRN

### **Apresentação da base**

In [ ]:
import pandas as pd

consultas = pd.read_excel('https://github.com/ashouy/Aprendizado-de-Maquina/blob/main/bases/consultation_fee/train.xlsx?raw=true')
consultas

                       Qualification  ... Fees
0              BHMS, MD - Homeopathy  ...  100
1       BAMS, MD - Ayurveda Medicine  ...  350
2     MBBS, MS - Otorhinolaryngology  ...  300
3                BSc - Zoology, BAMS  ...  250
4                               BAMS  ...  250
...                              ...  ...  ...
5956                  MBBS, MS - ENT  ...  300
5957                            MBBS  ...  100
5958                            MBBS  ...  600
5959     MBBS, MD - General Medicine  ...  100
5960         BDS, MDS - Orthodontics  ...  200

[5961 rows x 7 columns]

### **Tratamento**

#### Dados faltantes, alterar tipos

In [ ]:
hasNan = consultas.isnull().sum()
print(hasNan)

Qualification            0
Experience               0
Rating                3302
Place                   25
Profile                  0
Miscellaneous_Info    2620
Fees                     0
dtype: int64



*   Remoção coluna micellaneousInfo column (tratado como dado irrelevante)

In [ ]:
consultas_tratadas = consultas[['Qualification','Experience','Rating','Place','Profile','Fees']]
consultas_tratadas.head()

                    Qualification           Experience  ...         Profile Fees
0           BHMS, MD - Homeopathy  24 years experience  ...       Homeopath  100
1    BAMS, MD - Ayurveda Medicine  12 years experience  ...        Ayurveda  350
2  MBBS, MS - Otorhinolaryngology   9 years experience  ...  ENT Specialist  300
3             BSc - Zoology, BAMS  12 years experience  ...        Ayurveda  250
4                            BAMS  20 years experience  ...        Ayurveda  250

[5 rows x 6 columns]

* Mudando tipo do experience para int

In [ ]:
#muda tipo experiencia
exp_column_int = consultas_tratadas['Experience'].str[:2].astype(int)
consultas_tratadas['Experience'] = exp_column_int

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

* muda rating para int e substitui os NAN pela média

In [ ]:
consultas['Rating'].unique()

array(['100%', '98%', nan, '99%', '79%', '95%', '97%', '94%', '88%',
       '90%', '80%', '93%', '36%', '78%', '87%', '96%', '82%', '89%',
       '74%', '86%', '92%', '83%', '76%', '85%', '56%', '91%', '68%',
       '60%', '75%', '69%', '73%', '67%', '77%', '33%', '55%', '71%',
       '84%', '45%', '63%', '72%', '81%', '62%', '57%', '7%', '48%',
       '40%', '70%', '64%', '65%', '47%', '58%', '53%'], dtype=object)

In [ ]:
import numpy as np

def convert_rating_to_int(rating_string):
  parsed = str(rating_string)
  if parsed == 'nan':
    return (rating_string)
  elif len(parsed) > 3:
    return int(parsed[:3])
  elif len(parsed) > 2:
    return int(parsed[:2])
  elif len(parsed) > 1:
    return int(parsed[:1])

test = consultas_tratadas['Rating'].apply(convert_rating_to_int)
test.head()

0    100.0
1     98.0
2      NaN
3      NaN
4    100.0
Name: Rating, dtype: float64

In [ ]:
consultas_tratadas['Rating'] = test
consultas_tratadas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                       Qualification  Experience  ...           Profile Fees
0              BHMS, MD - Homeopathy          24  ...         Homeopath  100
1       BAMS, MD - Ayurveda Medicine          12  ...          Ayurveda  350
2     MBBS, MS - Otorhinolaryngology           9  ...    ENT Specialist  300
3                BSc - Zoology, BAMS          12  ...          Ayurveda  250
4                               BAMS          20  ...          Ayurveda  250
...                              ...         ...  ...               ...  ...
5956                  MBBS, MS - ENT          19  ...    ENT Specialist  300
5957                            MBBS          33  ...  General Medicine  100
5958                            MBBS          41  ...  General Medicine  600
5959     MBBS, MD - General Medicine          15  ...  General Medicine  100
5960         BDS, MDS - Orthodontics          17  ...           Dentist  200

[5961 rows x 6 columns]

In [ ]:
consultas_tratadas.describe()

        Experience       Rating         Fees
count  5961.000000  2659.000000  5961.000000
mean     17.303976    94.643475   307.944640
std      11.142798     7.852813   190.920373
min       0.000000     7.000000     5.000000
25%       9.000000    93.000000   150.000000
50%      14.000000    97.000000   300.000000
75%      23.000000   100.000000   500.000000
max      66.000000   100.000000   950.000000

In [ ]:
from sklearn.impute import SimpleImputer

imput_mean = SimpleImputer(fill_value = 100, strategy='constant')
rating_column = imput_mean.fit_transform(consultas_tratadas[['Rating']])
rating_column

array([[100.],
       [ 98.],
       [100.],
       ...,
       [ 97.],
       [ 90.],
       [100.]])

In [ ]:
consultas_tratadas['Rating'] = rating_column
consultas_tratadas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                       Qualification  Experience  ...           Profile Fees
0              BHMS, MD - Homeopathy          24  ...         Homeopath  100
1       BAMS, MD - Ayurveda Medicine          12  ...          Ayurveda  350
2     MBBS, MS - Otorhinolaryngology           9  ...    ENT Specialist  300
3                BSc - Zoology, BAMS          12  ...          Ayurveda  250
4                               BAMS          20  ...          Ayurveda  250
...                              ...         ...  ...               ...  ...
5956                  MBBS, MS - ENT          19  ...    ENT Specialist  300
5957                            MBBS          33  ...  General Medicine  100
5958                            MBBS          41  ...  General Medicine  600
5959     MBBS, MD - General Medicine          15  ...  General Medicine  100
5960         BDS, MDS - Orthodontics          17  ...           Dentist  200

[5961 rows x 6 columns]

* mudança de tipo do profile

In [ ]:
profile_types = pd.get_dummies(consultas_tratadas['Profile'], prefix='espec.')
profile_types

      espec._Ayurveda  ...  espec._Homeopath
0                   0  ...                 1
1                   1  ...                 0
2                   0  ...                 0
3                   1  ...                 0
4                   1  ...                 0
...               ...  ...               ...
5956                0  ...                 0
5957                0  ...                 0
5958                0  ...                 0
5959                0  ...                 0
5960                0  ...                 0

[5961 rows x 6 columns]

In [ ]:
consultas_tratadas.iloc[:,[0,1,2,3,5]]

                       Qualification  ...  Fees
0              BHMS, MD - Homeopathy  ...   100
1       BAMS, MD - Ayurveda Medicine  ...   350
2     MBBS, MS - Otorhinolaryngology  ...   300
3                BSc - Zoology, BAMS  ...   250
4                               BAMS  ...   250
...                              ...  ...   ...
5956                  MBBS, MS - ENT  ...   300
5957                            MBBS  ...   100
5958                            MBBS  ...   600
5959     MBBS, MD - General Medicine  ...   100
5960         BDS, MDS - Orthodontics  ...   200

[5961 rows x 5 columns]

In [ ]:
consultas_tratadas_final = profile_types.join(consultas_tratadas.iloc[:, [1,2,3,5]])
consultas_tratadas_final

      espec._Ayurveda  espec._Dentist  ...                          Place  Fees
0                   0               0  ...            Kakkanad, Ernakulam   100
1                   1               0  ...          Whitefield, Bangalore   350
2                   0               0  ...     Mathikere - BEL, Bangalore   300
3                   1               0  ...   Bannerghatta Road, Bangalore   250
4                   1               0  ...          Keelkattalai, Chennai   250
...               ...             ...  ...                            ...   ...
5956                0               0  ...        Basavanagudi, Bangalore   300
5957                0               0  ...          Nungambakkam, Chennai   100
5958                0               0  ...  Greater Kailash Part 2, Delhi   600
5959                0               0  ...         Vileparle West, Mumbai   100
5960                0               1  ...               Pitampura, Delhi   200

[5961 rows x 10 columns]

# Base do HERO DC_MARVEL

> ## Metadata
* Dados sobre os super hérois da DC e Marvel Commics

## Apresentação da base

In [ ]:

heroes_stats = pd.read_csv('https://raw.githubusercontent.com/ashouy/Aprendizado-de-Maquina/main/bases/marvel_dc_characters/charcters_stats.csv')
heroes = pd.read_csv('https://raw.githubusercontent.com/ashouy/Aprendizado-de-Maquina/main/bases/marvel_dc_characters/marvel_characters_info.csv')

#Selecão das caracteríticas 
heroes_reduce = heroes[['Name','Alignment', 'Gender', 'Race', 'Publisher', 'Height', 'Weight']]

heroes_merge = pd.merge(heroes_reduce, heroes_stats, how = 'inner', on = ['Name', 'Alignment'])
heroes_tx = heroes_merge.rename(columns={'Total': 'TotalPower'})

# Filtragem para apenas análise de heróis da Marvel e DC Comics
heroes_filter = heroes_tx[(heroes_tx['Publisher'] == 'DC Comics') | (heroes_tx['Publisher'] == 'Marvel Comics')]
heroes_filter

                Name Alignment  Gender  ... Power Combat  TotalPower
0             A-Bomb      good    Male  ...    17     64         316
2           Abin Sur      good    Male  ...    84     65         406
3        Abomination       bad    Male  ...    55     95         436
4            Abraxas       bad    Male  ...   100     56         526
6       Adam Strange      good    Male  ...     0      1           5
..               ...       ...     ...  ...   ...    ...         ...
584     Yellowjacket      good    Male  ...    12     14         164
585  Yellowjacket II      good  Female  ...    31     28         182
586             Ymir      good    Male  ...    83     28         388
587          Zatanna      good  Female  ...   100     56         292
588             Zoom       bad    Male  ...    72     28         288

[510 rows x 14 columns]

## Alguns processamentos

## Coversão para sexualidade do herói

In [ ]:
# Verifica se tem NaN
hasNan = heroes_filter.isnull().sum()
# print(hasNan)
# print(heroes_filter['Gender'].value_counts())

heroes_filter['Gender'] = heroes_filter['Gender'].astype('str') 


def convert_gender(parsed):
  if parsed == '-':
    return 'not_identify'
  else:
    return parsed

test = heroes_filter['Gender'].apply(convert_gender)

heroes_filter['Gender'] = test
heroes_filter.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Name Alignment Gender  ... Power Combat  TotalPower
0        A-Bomb      good   Male  ...    17     64         316
2      Abin Sur      good   Male  ...    84     65         406
3   Abomination       bad   Male  ...    55     95         436
4       Abraxas       bad   Male  ...   100     56         526
6  Adam Strange      good   Male  ...     0      1           5

[5 rows x 14 columns]

## Conversão binária

In [ ]:
dfGender = pd.get_dummies(heroes_filter['Gender'], prefix='Gender')
dfGender

     Gender_Female  Gender_Male  Gender_not_identify
0                0            1                    0
2                0            1                    0
3                0            1                    0
4                0            1                    0
6                0            1                    0
..             ...          ...                  ...
584              0            1                    0
585              1            0                    0
586              0            1                    0
587              1            0                    0
588              0            1                    0

[510 rows x 3 columns]

In [ ]:
dfAlignment = pd.get_dummies(heroes_filter['Alignment'], prefix='alignment')
dfAlignment

     alignment_bad  alignment_good  alignment_neutral
0                0               1                  0
2                0               1                  0
3                1               0                  0
4                1               0                  0
6                0               1                  0
..             ...             ...                ...
584              0               1                  0
585              0               1                  0
586              0               1                  0
587              0               1                  0
588              1               0                  0

[510 rows x 3 columns]

## Adição de conversões na tabela principal

In [ ]:
heroes_al = dfAlignment.join(heroes_filter.drop(columns=['Alignment']))
heroes_al

     alignment_bad  alignment_good  ...  Combat TotalPower
0                0               1  ...      64        316
2                0               1  ...      65        406
3                1               0  ...      95        436
4                1               0  ...      56        526
6                0               1  ...       1          5
..             ...             ...  ...     ...        ...
584              0               1  ...      14        164
585              0               1  ...      28        182
586              0               1  ...      28        388
587              0               1  ...      56        292
588              1               0  ...      28        288

[510 rows x 16 columns]

In [ ]:
heroes_finale = dfGender.join(heroes_al.drop(columns='Gender'))
heroes_finale

     Gender_Female  Gender_Male  Gender_not_identify  ...  Power  Combat  TotalPower
0                0            1                    0  ...     17      64         316
2                0            1                    0  ...     84      65         406
3                0            1                    0  ...     55      95         436
4                0            1                    0  ...    100      56         526
6                0            1                    0  ...      0       1           5
..             ...          ...                  ...  ...    ...     ...         ...
584              0            1                    0  ...     12      14         164
585              1            0                    0  ...     31      28         182
586              0            1                    0  ...     83      28         388
587              1            0                    0  ...    100      56         292
588              0            1                    0  ...     72      28         288

[510 rows x 18 columns]