<a href="https://colab.research.google.com/github/ashouy/Aprendizado-de-Maquina/blob/main/Tarefa01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Atividade 01**
A atividade consiste em selecionar uma base de dados do tipo **Regressão** e outra do tipo **Classificação** e aplicar pelo menos dois dos 6 tratamentos listados abaixo:


1.   **Visão geral do data frame**
>*   Aleterar a visualização do dataframe, selecionando colunas específicas por exemplo.
>*   **loc, iloc, etc**
2.   **Dados Faltantes**
>*   Aplicar alguma estratégia para tratar os dados faltantes de a cordo com o contexto da base de dados.
>*   **Remoção das colunas, Remoção das linhas, Preenchimento com um valor definido, Preenchimento com a média ou moda**
3.    **Outliers**
>*    Tratar valor muito fora dos padrões
4.    **Mudança de escala**
>*     mudar alguma série de escalar para uma possível comparação
>*    **Normalização por reescala, normalização por padronização, StandardScaler, MinMaxScale**
5.    **Mudança de Tipo**
>*     Mudar o tipo de dados de uma coluna
>*    **Label Encoder**
6.    **Redução de dimensionalidade**
>*    **PCA**

#Aternativas:


*   https://www.kaggle.com/dannielr/marvel-superheroes

*   https://www.kaggle.com/omermetinn/values-of-top-nasdaq-copanies-from-2010-to-2020

In [6]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
%cd /content/drive/MyDrive/Colab Notebooks/Machine Learning

/content/drive/MyDrive/Colab Notebooks/Machine Learning

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/ashouy/Aprendizado-de-Maquina/main/bases/top_nasdaq/Company.csv')
df

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc
5          MSFT    Microsoft

In [21]:
consultass = pd.read_excel('https://github.com/ashouy/Aprendizado-de-Maquina/blob/main/bases/consultation_fee/train.xlsx?raw=true')
consultass

                       Qualification  ... Fees
0              BHMS, MD - Homeopathy  ...  100
1       BAMS, MD - Ayurveda Medicine  ...  350
2     MBBS, MS - Otorhinolaryngology  ...  300
3                BSc - Zoology, BAMS  ...  250
4                               BAMS  ...  250
...                              ...  ...  ...
5956                  MBBS, MS - ENT  ...  300
5957                            MBBS  ...  100
5958                            MBBS  ...  600
5959     MBBS, MD - General Medicine  ...  100
5960         BDS, MDS - Orthodontics  ...  200

[5961 rows x 7 columns]